/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

h1{ 
     border-top: 3px dotted green;
     border-left: 4px solid yellow;
     border-bottom: 12px dashed blue;
     border-right: 1px solid bisque;
     padding: 20px;
     margin: 50px auto;
     background-color: lightsalmon;
     text-align: center;
     width: 30%;
}
    

img{
    width: 33.3333%;
    border: 3px solid black;
    border-radius: 5%;
}

.first{
    border: 1px dotted darkmagenta;
    margin: 50px auto;
    text-align: center;
}

